body{
    
    background: linear-gradient(to right, #00c3ff, #ffff1c);
      min-width: 75ch;
      max-width:100ch;
      font-weight: bold;
      color:#330867;
  
  }
  .welcome{
      text-align: center;
      border-bottom: 2px solid black;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 300;
      
  
  }
  .welcome:hover{
      background-color: #333;
      color: white;
  }
  .list1{
      list-style-type: none;
      position: fixed;
      bottom: 0;
      background-color: rgb(25, 226, 68);
      font-size: larger;
      color:azure;
  
  }
  .innerblock{
      display: inline-block;
      margin-inline: 1ch;
      padding-left: 0;
      align-content: end;   
  }
  .innerblock:hover{
      background-color: rgb(0, 0, 0);
      color: azure;
  
  }
  .list2{
      list-style-type:square;
      height: auto;
      
      padding-left: 5ch;
  }
  .bdetail{
      border-bottom: solid black 2px;
      line-height: 5ch;
      height: 50ch;
  
  }
  .bdetail:hover{
      background-color:#333;
      color:aliceblue;
  }
  .bio{
      border-bottom: solid black 2px;
      height: auto;
      line-height: 5ch;
     
  }
  .bio:hover{
      background-color:#333;
      color:aliceblue;
  }
  .edudetail{
      border-bottom: solid black 2px;
      height: auto;
      line-height: 5ch;
      
  }
  .edudetail:hover{
      background-color: #333;
      color:aliceblue;
  }
  p{
      font-family: Times New Roman;
      font-size: larger;
  }
  h1{
      text-transform: uppercase;
      background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
      color: white;
  }
  h2{
      font-family: verdana;
      font-size:x-large;
      position: sticky;
      top: 0;
      background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
      color: white;
      width: 25ch;
  
  }
   li a{
      color: white;
      text-decoration: none;
   }
   .container{
      overflow: auto;
   }
   
   img{
  float: right;
  border: black 2px solid;
  height: 400px;
  width: 400px;
  
   }
   .contactinfo{
      border-bottom: black solid 2px;
      height: 30ch;
      padding-left: 2ch ;
      
  
   }
  
   .contactinfo:hover{
      background-color: #333;
      color:azure;
   }
   .contactme{
      background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
      color: white;
      width: 30ch;
      padding-left: 0;
      font-size: x-large;
   }
   .email{
      list-style: none;
      padding : 0;
      
      
   }
   .list{
      padding-left: 20px;
      background-image: url('icons8-email-64.png');
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 16px 16px;
     
   }
   .phone{
      list-style: none;
      padding : 0;
       
   }
   .call{
      padding-left: 20px;
      background-image: url('icons8-call-48.png');
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 16px 16px;
  }
  .feedback{
      height: 40ch;
  }
  
  .feedback:hover{
      background-color: #333;
      color:aliceblue;
  }
  .extra{
      height: 40ch
  }
  .extra:hover{
      background-color: #333;
      color:aliceblue;
  }
  html{
      scroll-behavior: smooth;
  }