<head>
    <title>my page</title>
    <link rel="stylesheet" href="SamiFile.css">
    <script>
        function submitForm() {
         var name = document.getElementById("name").value;
         var email = document.getElementById("email").value;
         var feedback = document.getElementById("feedback").value;
         document.getElementById("message").innerHTML = "Thank you, " + name + ", for your submission!";
         document.getElementById("feedbackForm").reset();
        }
       </script>
    </head>
    <body>
        
        
        <section class="welcome">
            <h1>Welcome</h1>
        </section>
        <nav>
            <ul class="list1">
                <li class="innerblock"><a href="#list2">Basic</a></li>
                <li class="innerblock"><a href="#fortopictwo">Bio</a></li>
                <li class="innerblock"><a href="#fortopicthree">Edu.Details</a></li>
                <li class="innerblock"><a href="#fortopicfive">Feedback</a></li>
                
            </ul>
        </nav>
        <section class="bdetail">
            <div class="photo">
                <img src="forprofile.jpg" alt="Profile Picture"  title="Samuel Tiruneh's Profile Picture"  >
            </div >
    <h2>Basic Details</h2>
    
    <ul id="list2">
        <li>Full Name:Samuel Tiruneh Cheklu</li>
        <li>Home Address:Gondar,Kebele 01</li>
        <li>Date of Birth: April 02,1994 E.C</li>
        <li>Place of Birth: Gondar,Kebele 01</li>
        <li>Current City: Bahirdar</li>
        <li>Department: Software Engineering</li>
        
    </ul>
    </section>
    <section class="bio">
        <h2 id="fortopictwo"> Bio</h2>
        <p>I'm Samuel tiruneh, Young Second Year Software Engineer Student at Bahir Dar University, I have had a passion 
            for programming since I joined High School. for the time being I know the basics about HTML, CSS
            and JavaScript I have a Dream of becoming the best full stack website developer, to accomplish my goal
            i'm working harder and utilizing every possible opportunity to reach my destination.
        </p>
    
    
    </section>
    <section class="edudetail">
        <h2 id="fortopicthree">Educational Details</h2>
        <p>
            Starting From my High School Education, I complted my high school education from Fasiledes
            High school with average score of 94% and I Scored GPA 4 On EGSECE(grade 10) and I have had 
            amazing performance on mathematics and physics Subjects.  After that I pursued my preparator 
            education on the same school and took grade 12 Entrance Examination and scored 591 out of 700,
             After that I have joined Bahirdar University and select Software Engineering Department.
        </p>
    
    
    </section>
    <section class="contactinfo">
        <h2 class="contactme">Contact Me with</h2>
        <aside>
            <details>
                <summary>My Email Adress</summary>
                <p><ul class="email">
                    <li class="list"> samuelnewweb@gmail.com</li>
                </ul></p>
            </details>
        </aside>
        <aside>
            <details>
                <summary>My Phone Number</summary>
                <p><ul class="phone">
                    <li class="call"><a href="+251935749521">Call:+251935749521</a></li>
                </ul></p>
            </details>
        </aside>
    </section>
    <section class="extra">
        <h2>Extra things about me</h2>
        <aside>
            <details>
                <summary>My Family</summary>
                <p><ul>
                    <li>Tiruneh Checklu</li>
                    <li>Azanu Malede</li>
                    <li>Nardos Tiruneh</li>
                    <li>Biruk Tiruneh</li>
                </ul></p>
            </details>
        </aside>
        <aside>
            <details>
                <summary>My Favorite Food</summary>
                <p><ul>
                    <li>Doro Wot</li>
            
                </ul></p>
            </details>
        </aside>
        <aside>
            <details>
                <summary>My Brand Choices</summary>
                <p><ul>
                    <li> Nike</li>
                    <li>Adidas</li>
                </ul></p>
            </details>
        </aside>
        <aside>
            <details>
                <summary>Best Sites to learn Code</summary>
                <p><ul>
                    <li>W3Schools</li>
                    <li>Free Code Camp</li>
                    <li>Coursera</li>
                </ul></p>
            </details>
        </aside>
    </section>
    <section class="feedback">
        <h2 id="fortopicfive">Feedback</h2>
        <fieldset>
            <legend>fill the form and the submit</legend>
        <form id="feedbackForm" method="post">
         <label for="name">Full Name:</label>
         <input type="text" id="name" name="name"><br><br>
         <label for="email">Email:</label>
         <input type="text" id="email" name="email"><br><br>
         <label for="feedback">Feedback:</label><br>
         <textarea id="feedback" name="feedback" rows="5" cols="50"></textarea><br><br>
         <input type="button" value="Submit" onclick="submitForm()">
        </form>
        <div id="message"></div>
    </fieldset>
    </section>
    </body>